<!DOCTYPE html>
<html>
<head>
    <title>{{ skill.name }} Roadmap</title>
    <style>
        /* Add some basic styling */
        .roadmap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .step {
            border: 2px solid #ccc;
            padding: 10px;
            margin: 5px;
            width: 200px;
            text-align: center;
        }
        .step:hover {
            border-color: #007bff;
        }
        .passed { 
            opacity: 0.3 
        }
    </style>
</head>
<body>
    <h1>{{ skill.name }} Roadmap</h1>
    <div class="roadmap">
        {% for level in range(1, 100) %}
        <div class="step {% if skill.level >= level %} passed {% endif %}">
            <h3>{{level}}</h3>
                {% for challenge in challenges %}
                    {% if level == challenge.requiredLevel %}
                        <p>{{ challenge.description }}</p>
                        <p>{{ challenge.requiredLevel}}</p>
                    {% endif %}
            {% endfor %}
        </div>
        {%endfor%}
    </div>
</body>
</html>